<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
</head>


<body class="body">

  <div class="large-container container">
    <div class="row">
      <div id="leftpanel" class="col-2">
        <div class="infoarea">
          <h2 style="margin-bottom: 30px">🧞 TabGenie</h2>
          <div class="selectarea">
            <b>dataset</b>
            <select id="dataset-select" class="form-select">
              {% for dataset_name in datasets %}
              <option value="{{ dataset_name }}">{{ dataset_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="selectarea">
            <b>split</b>
            <select id="split-select" class="form-select">
              <option value="dev" selected>dev</option>
              <option value="test">test</option>
              <option value="train">train</option>
            </select>
          </div>
          <div class="selectarea">
            <b>data format</b>
            <select id="format-select" class="form-select">
              <option value="linearize" selected>linearize</option>
              <option value="triples">triples</option>
            </select>
          </div>


          <div class="selectarea">
            <b>model</b>
            <select id="split-select" class="form-select" aria-label="dataset">
              <option selected>None</option>
              <!-- <option>ToTTo-base</option> -->
            </select>
          </div>
          <div class="selectarea">
          </div>


          <div class="selectarea form-switch">
            <input class="form-check-input custom-checkbox" type="checkbox" id="panel-checkbox" checked>
            <label class="form-check-label custom-control-label" for="panel-checkbox">side panel</label>
          </div>

          <div class="selectarea" id="btn-area">
            <button type="button" id="gen-btn" class="btn disabled" onclick="generate();">Generate</button>
            <!-- <button type="button" id="exp-btn" class="btn btn-secondary" onclick="exportData();">Export</button> -->
          </div>

        </div>


      </div>
      <div class="split col-10">
        <div id="centerpanel">
          <!-- <div class="topnavs">
            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#tabulararea" type="button"
                  role="tab">Table</a>
              </li>
              
            </ul>
          </div> -->
          <div class="selectarea d-flex justify-content-center">
            <!-- <b>example</b> -->
            <nav>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" id="prev-btn" onclick="prevbtn();">«</a>
                </li>
                <li class="page-item">
                  <input class="form-control" id="page-input" onfocusout="gotobtn();"></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" id="next-btn" onclick="nextbtn();">»</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="tab-content">
            <div id='tabulararea' class="tab-pane sidepanel-panel active" role="tabpanel">
              <div class="d-flex align-items-center justify-content-center">
                <div id="dataset-spinner" class="spinner-border" role="status" style="display: none">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div id='tablearea' class='table-responsive'> </div>
            </div>
          </div>
        </div>

        <div id="rightpanel" class="collapse show">
          <!-- <div id='sidepanel'> -->
          <div class="topnavs">
            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#infoarea" type="button"
                  role="tab">Dataset
                  info</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#inputarea" type="button" role="tab">Input</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#exportarea" type="button" role="tab">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#outputarea" type="button" role="tab">Text</a>
              </li>
            </ul>
          </div>
          <div id='sidepanel-content' class="tab-content">
            <div id='infoarea' class="tab-pane sidepanel-panel active" role="tabpanel" tabindex="0">
              <div id="dataset-info" class="area-content"></div>
            </div>
            <!-- <div id='inputarea' class="tab-pane sidepanel-panel " role="tabpanel">
            </div> -->
            <div id='exportarea' class="tab-pane sidepanel-panel" role="tabpanel">
              <div class="d-flex align-items-center justify-content-center">
                <pre><code><div id='export-placeholder'> </div></code></pre>
              </div>
            </div>
            <div id='outputarea' class="tab-pane sidepanel-panel" role="tabpanel">
              <div class="checkboxarea d-flex justify-content-center">
                <div class="form-switch form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="reference-checkbox" value="option1">
                  <label class="form-check-label" for="reference-checkbox">reference</label>
                </div>
                <div class="form-switch form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="model-checkbox" value="option2" disabled>
                  <label class="form-check-label" for="model-checkbox">model</label>
                </div>
              </div>

              <div id="reference-output" class="output-element">
                <b>Reference</b>
                <div id="reference-placeholder" class="txt-placeholder">
                </div>
              </div>
              <div id="model-output" class="output-element" style="display: none;">
                <b>Model</b>
                <div id="model-placeholder" class="txt-placeholder">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


<script>
  // variable to be used in custom.js
  window.url_prefix = "{{ host_prefix }}";
  window.default_dataset = "{{ default_dataset }}";
  window.mode = "{{ mode }}";
</script>

<script src="{{ host_prefix }}/static/js/custom.js"></script>

<!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart', graphs,{});
</script> -->