<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/d3graphs.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/jquery.highlight-within-textarea.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
  <script src="{{ host_prefix }}/static/js/jquery.highlight-within-textarea.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>


<body class="body">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{ host_prefix }}/static/img/genie.png" width="25px"> <b>TabGenie</b>
      </a>
      <div class="navblock">
        <ul class="pagination" id="nav-example-cnt">
          <li class="page-item">
            <a class="page-link" id="start-btn" onclick="startbtn();">«</a>
          </li>
          <li class="page-item">
            <a class="page-link" id="prev-btn" onclick="prevbtn();">‹</a>
          </li>
          <li class="page-item">
            <input class="form-control" id="page-input" onfocusout="gotobtn();"></a>
          </li>
          <li class="page-item">
            <a class="page-link" id="total-examples" style="min-height: 30px;"></a>
          </li>
          <li class="page-item">
            <a class="page-link" id="next-btn" onclick="nextbtn();">›</a>
          </li>
          <li class="page-item">
            <a class="page-link" id="end-btn" onclick="endbtn();">»</a>
          </li>
        </ul>

        <ul class="pagination" id="nav-examples">
          <li class="page-item">
            <a class="page-link" id="random-btn" onclick="randombtn();" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Random example">
              ⚄
            </a>

          </li>
          <li class="page-item">
            <a class="page-link" id="favourite-btn" onclick="favouritebtn();" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Add to favourites">
              ★
            </a>
          </li>
        </ul>


      </div>
      <div class="navblock">
        <div class="form-switch form-switch-table">
          <input class="form-check-input custom-checkbox" type="checkbox" id="table-checkbox" checked>
          <label class="form-check-label custom-control-label" for="table-checkbox">table</label>
        </div>
        <div class="form-switch form-switch-panel">
          <input class="form-check-input custom-checkbox" type="checkbox" id="panel-checkbox" checked>
          <label class="form-check-label custom-control-label" for="panel-checkbox">panel</label>
        </div>
        <div>
          About
        </div>
      </div>
    </div>
  </nav>


  <div class="large-container container">
    <div class="row">
      <div id="leftpanel" class="col-2">
        <div class="infoarea">

          <div class="selectarea">
            <b>dataset</b>
            <select id="dataset-select" class="form-select form-select-sm">
              {% for dataset_name in datasets %}
              <option value="{{ dataset_name }}">{{ dataset_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="selectarea">
            <b>split</b>
            <select id="split-select" class="form-select form-select-sm">
              <option value="dev" selected>dev</option>
              <option value="test">test</option>
              <option value="train">train</option>
            </select>
          </div>

          <div class="selectarea" id="actions-area">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-sm" onclick="reload_pipelines();">
                ⟳ Reload pipelines
                </a>
              </button>
              <input type="checkbox" class="btn-check" id="edit-btn" onclick="toggle_edit();" autocomplete="off">
              <label class="btn btn-sm btn-outline-secondary" for="edit-btn">✎ Edit mode</label>
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                data-bs-target="#favourites-modal">
                ★ Favourites
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                data-bs-target="#export-modal">
                🗎 Export
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                data-bs-target="#info-modal">
                ⓘ Dataset info
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="split col-10">
        <div id="centerpanel" class="collapse show">
          <div class="tab-content">
            <div id='tabulararea' class="tab-pane sidepanel-panel active" role="tabpanel">
              <div class="d-flex align-items-center justify-content-center">
                <div id="dataset-spinner" class="spinner-border" role="status" style="display: none">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div id='tablearea' class='table-responsive font-mono'> </div>
            </div>
          </div>
        </div>

        <div id="rightpanel" class="collapse show">

          <div id='sidepanel-content' class="tab-content">
            <div id='pipelinearea' class="tab-pane sidepanel-panel active" role="tabpanel">
              {% for pipeline_name, attrs in pipelines.items() %}
              <div class="output-box pipeline-box" id="out-{{ pipeline_name }}">
                <label class="label-name" for="pipeline-checkbox-{{ pipeline_name }}">{{ pipeline_name }}</label>
                <label class="label-on-off"><input
                    class="form-check-input custom-checkbox pipeline-checkbox output-checkbox" type="checkbox"
                    id="pipeline-checkbox-{{ pipeline_name }}" {% if attrs.active==1 %} checked {% endif %}></label>

                {% if 'config_template' in attrs %}
                <label class="label-settings" data-bs-toggle="modal" data-bs-target="#{{ pipeline_name }}-modal"><img
                    src="{{ host_prefix }}/static/img/settings.png" width="12px" /></label>
                <div class="modal fade" id="{{ pipeline_name }}-modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="{{ pipeline_name }}-modal-label">Settings: {{ pipeline_name }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{ attrs.config_template|safe }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div id="pipeline-{{ pipeline_name }}-spinner" class="spinner-border" role="status"
                  style="display: none">
                  <span class="sr-only"></span>
                </div>
                <div id="out-{{ pipeline_name }}-placeholder" class="font-mono"></div>
              </div>
              {% endfor %}
              {% for generated_output_name, attrs in generated_outputs.items() %}
              <div class="output-box generated-output-box" id="out-{{ generated_output_name }}">
                <label class="label-name" for="pipeline-checkbox-{{ generated_output_name }}">{{ generated_output_name
                  }}</label>
                <div id="out-{{ generated_output_name }}-placeholder" class="font-mono"></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal windows -->
  <div class="modal fade" id="export-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="export-modal-label">Export</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Export</h5>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="options-export" value="example" id="option-export-table"
              checked>
            <label class="form-check-label" for="option-export-table">current example</label>
          </div>
          <div style="margin-bottom: 10px" class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="options-export" value="favourites"
              id="option-export-favourites" disabled>
            <label class="form-check-label" for="option-export-favourites">favourites</label>
          </div>
          <h5>Format</h5>
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-outline-secondary btn-sm gen-btn"
              onclick="export_table('csv');">CSV</button>
            <button type="button" class="btn btn-outline-secondary btn-sm gen-btn"
              onclick="export_table('xlsx');">XLSX</button>
            <button type="button" class="btn btn-outline-secondary btn-sm gen-btn"
              onclick="export_table('html');">HTML</button>
            <button type="button" class="btn btn-outline-secondary btn-sm gen-btn"
              onclick="export_table('txt');">TXT</button>
            <button type="button" class="btn btn-outline-secondary btn-sm gen-btn"
              onclick="export_table('json');">JSON</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="info-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="info-modal-label">Dataset info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id='infoarea' class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
            <div id="dataset-info" class="area-content"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="favourites-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="favourites-modal-label">Favourites</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <ul class="list-group list-group-flush" id="favourites-box"></ul>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="clear_favourites();">Delete all</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


<script>
  // variable to be used in custom.js
  window.url_prefix = "{{ host_prefix }}";
  window.default_dataset = "{{ default_dataset }}";
  window.pipelines = {{ pipelines | safe }};
  window.prompts = {{ prompts | safe }};
  window.generated_outputs = {{ generated_outputs | safe }};
</script>

<script src="{{ host_prefix }}/static/js/custom.js"></script>
<script src="{{ host_prefix }}/static/js/d3graphs.js"></script>