<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/d3graphs.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>


<body class="body">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        🧞 <b>TabGenie</b>
      </a>
      <div class="navblock">

        <ul class="pagination" id="nav-example-cnt">
          <li class="page-item">
            <a class="page-link" href="#" id="start-btn" onclick="startbtn();">«</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" id="prev-btn" onclick="prevbtn();">‹</a>
          </li>
          <li class="page-item">
            <input class="form-control" id="page-input" onfocusout="gotobtn();"></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" id="total-examples" style="min-height: 30px;"></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" id="next-btn" onclick="nextbtn();">›</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" id="end-btn" onclick="endbtn();">»</a>
          </li>
        </ul>

        <ul class="pagination" id="nav-examples">
          <li class="page-item">
            <a class="page-link" href="#" id="random-btn" onclick="randombtn();">
              <!-- <img  src="{{ host_prefix }}/static/img/dice.png" width="12px" />  -->
              🎲
            </a>

          </li>
        </ul>


      </div>
      <div class="navblock">
        <div class="form-switch form-switch-table">
          <input class="form-check-input custom-checkbox" type="checkbox" id="table-checkbox" checked>
          <label class="form-check-label custom-control-label" for="table-checkbox">table</label>
        </div>
        <div class="form-switch form-switch-panel">
          <input class="form-check-input custom-checkbox" type="checkbox" id="panel-checkbox" checked>
          <label class="form-check-label custom-control-label" for="panel-checkbox">panel</label>
        </div>
        <div>
          About
        </div>
      </div>
    </div>
  </nav>

  <div class="large-container container">
    <div class="row">
      <div id="leftpanel" class="col-2">
        <div class="infoarea">
          <div class="selectarea">
            <b>dataset</b>
            <select id="dataset-select" class="form-select">
              {% for dataset_name in datasets %}
              <option value="{{ dataset_name }}">{{ dataset_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="selectarea">
            <b>split</b>
            <select id="split-select" class="form-select">
              <option value="dev" selected>dev</option>
              <option value="test">test</option>
              <option value="train">train</option>
            </select>
          </div>
          <div class="selectarea">
            <b>mode</b>

            <div class="export-block">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="options-mode" id="option-hl" checked>
                <label class="form-check-label" for="option-hl">highlight</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="options-mode" id="option-edit">
                <label class="form-check-label" for="option-edit">edit</label>
              </div>
            </div>
          </div>
          <div class="selectarea">
            <b>outputs</b>

            <div class="pipelines-block">
              {% for generated_output_name, attrs in generated_outputs.items() %}
              <div class="form-switch">
                <input class="form-check-input custom-checkbox pipeline-checkbox generated-out-checkbox" type="checkbox"
                  id="pipeline-checkbox-{{ generated_output_name }}" {% if attrs.active==1 %} checked {% endif %}
                  disabled>
                <label class="form-check-label custom-control-label" for="pipeline-checkbox-{{ pipeline_name }}">{{
                  generated_output_name }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="selectarea">
            <b>pipelines</b>

            <div class="pipelines-block">
              {% for pipeline_name, attrs in pipelines.items() %}
              <div class="form-switch">
                <input class="form-check-input custom-checkbox pipeline-checkbox" type="checkbox"
                  id="pipeline-checkbox-{{ pipeline_name }}" {% if attrs.active==1 %} checked {% endif %}>
                <label class="form-check-label custom-control-label" for="pipeline-checkbox-{{ pipeline_name }}">{{
                  pipeline_name }}</label>
              </div>
              {% endfor %}

              <button type="button" id="gen-btn" class="btn btn-outline-secondary btn-sm"
                onclick="reload_pipelines();">Run
                🏃</button>
            </div>
          </div>
          <div class="selectarea">
            <b>export table</b>

            <div class="export-block">
              <button type="button" id="gen-btn" class="btn btn-outline-secondary btn-sm"
                onclick="export_table('csv');">CSV</button>
              <button type="button" id="gen-btn" class="btn btn-outline-secondary btn-sm"
                onclick="export_table('xlsx');">XLSX</button>
              <button type="button" id="gen-btn" class="btn btn-outline-secondary btn-sm"
                onclick="export_table('html');">HTML</button>
            </div>
          </div>
        </div>

      </div>
      <div class="split col-10">
        <div id="centerpanel" class="collapse show">
          <div class="tab-content">
            <div id='tabulararea' class="tab-pane sidepanel-panel active" role="tabpanel">
              <div class="d-flex align-items-center justify-content-center">
                <div id="dataset-spinner" class="spinner-border" role="status" style="display: none">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div id='tablearea' class='table-responsive font-mono'> </div>
            </div>
          </div>
        </div>

        <div id="rightpanel" class="collapse show">
          <div class="topnavs">
            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#outputarea" type="button"
                  role="tab">Output</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" data-bs-target="#infoarea" type="button" role="tab">Dataset
                  info</a>
              </li>
            </ul>
          </div>
          <div id='sidepanel-content' class="tab-content">
            <div id='outputarea' class="tab-pane sidepanel-panel active" role="tabpanel">
            </div>
            <div id='infoarea' class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
              <div id="dataset-info" class="area-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


<script>
  // variable to be used in custom.js
  window.url_prefix = "{{ host_prefix }}";
  window.default_dataset = "{{ default_dataset }}";
  window.pipelines = {{ pipelines | safe }};
  window.generated_outputs = {{ generated_outputs | safe }};
</script>

<script src="{{ host_prefix }}/static/js/custom.js"></script>
<script src="{{ host_prefix }}/static/js/d3graphs.js"></script>