body {
    /* max-width: 1200px; */
    margin: 40px auto;
    padding: 0 10px;
    /* font: 18px/1.4 'Open Sans', sans-serif;
    color: #495057;
    background-color: #FFFFFF; */
}

a {
    color: black;
    --bs-pagination-color: black;
}

.nav-link {
    color: #3d3e3e;
    text-decoration-color: #3d3e3e;
}

.nav-link.active {
    color: #3d3e3e;
    text-decoration-color: #3d3e3e;
}

.nav-link:focus,
.nav-link:hover {
    color: #3d3e3e;
}

/* .nav-link.active,
.show>.nav-link {
    color: #212121;
    font-weight: bold;
} */

.selectarea {
    margin-bottom: 20px;
}

.infoarea {
    margin-top: 20px;
}

#tablearea {
    margin-top: 5px;
    padding-left: 30px;
}

.table-active {
    --bs-table-accent-bg: #fff68f;
}

.leftpanel {
    padding-right: 50px;
    /* border-right: 1px dotted rgb(206, 206, 206); */
}

#toparea {
    margin: 0px 0px 0px 30px;

    /* overflow-wrap: break-word; */
}

#toparea-content {
    /* outline: 1px solid rgb(230, 230, 230); */
    /* border: 1px solid rgb(230, 230, 230);
    border-top: none; */
    /* margin-left: 5px;
    margin-right: 5px; */
    margin-top: 10px;
    /* font-size: smaller; */
}

.interactive-cell {
    cursor: pointer;
}

.toparea-panel {
    overflow: auto;
    /* max-height: 300px; */
}

#outputarea {
    margin-top: 10px;
}

.area-content {
    padding: 25px 20px 25px 20px;
}

#page-input {
    width: 90px;
    height: 38px;
    margin-left: 2px;
    margin-right: 2px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: #3d3e3e;
}

.container.large-container {
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    max-width: 2000px;
}