body {
    /* max-width: 1200px; */
    margin: 40px auto;
    padding: 0 10px;
    color: #3c4149;
    /* font: 18px/1.4 'Open Sans', sans-serif;
    color: #495057;
    background-color: #FFFFFF; */
}

a {
    color: black;
    --bs-pagination-color: black;
}

table {
    color: #3c4149 !important;
    font-size: 15px !important;
}

.nav-link {
    color: #3d3e3e;
    text-decoration-color: #3d3e3e;
}

.nav-link.active {
    color: #3d3e3e;
    text-decoration-color: #3d3e3e;
}

.nav-link:focus,
.nav-link:hover {
    color: #3d3e3e;
}

/* .nav-link.active,
.show>.nav-link {
    color: #212121;
    font-weight: bold;
} */

.selectarea {
    margin-bottom: 20px;
}

.infoarea {
    margin-top: 20px;
}

#tablearea {
    margin-top: 5px;
    padding-left: 30px;
}

.table-active {
    --bs-table-accent-bg: #fff68f;
}

#leftpanel {
    padding-right: 50px;
    /* border-right: 1px dotted rgb(206, 206, 206); */
}

#centerpanel {
    margin-right: 30px;
    overflow-x: scroll;
}

#rightpanel {
    margin: 0px 0px 0px 20px;
    height: 100vh;
}


#sidepanel-content {
    /* border-left: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
    /* border-radius: 0px 0px 5px 5px; */
    /* padding: 10px; */
}

#collapse-btn {
    position: fixed;
    /* right: 100%; */
    /* top: 0; */
    right: 0;
    top: 50%;
    /* border-radius: 10px; */
    border-color: grey;
    /* background-color: grey; */
    /* border-radius: 10px; */
    /* height: 10px; */
    /* width: 10px; */
}

.panel-resizable {
    resize: horizontal;
    overflow: auto
}

.nav-tabs {
    margin-bottom: 0;
}

.interactive-cell {
    cursor: pointer;
}

.sidepanel-panel {
    overflow: auto;
    /* max-height: 300px; */
}

.checkboxarea {
    /* display: flex; */
    /* justify-content: center; */
    /* border-radius: 5px; */
    /* border-top: 1px solid #b8b8b8; */
    /* border-bottom: 1px solid #b8b8b8; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.output-element {
    margin-top: 10px;

}

#outputarea {
    margin-top: 10px;
}

.area-content {
    padding: 25px 20px 25px 20px;
}

#page-input {
    width: 90px;
    height: 38px;
    margin-left: 2px;
    margin-right: 2px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #3c4149;
    /* background-color: #3d3e3e; */
    background-color: #efefef6d;
    /* background-color: white; */
    font-weight: bold;
}

.container.large-container {
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    max-width: none;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
    background-color: #dedddd;
    cursor: col-resize;
}

.main-table {
    /* border-collapse: separate; */
    /* border: solid 1px; */
    /* border-radius: 6px; */
    /* overflow: hidden; */
}


#rightpanel {
    /* background-color: #f4f4f4; */

}