<!DOCTYPE html>
<html>

<head>
    <title>TabGenie</title>
    <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap-multiselect.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/d3graphs.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/jquery.highlight-within-textarea.css">
    <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
    <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
    <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
    <!-- <script src="{{ host_prefix }}/static/js/bootstrap-multiselect.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script src="{{ host_prefix }}/static/js/jquery.highlight-within-textarea.js"></script>
    <script src="{{ host_prefix }}/static/js/jsonview.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/windbarb.js"></script>
    <script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="{{ host_prefix }}/static/js/meteogram.js"></script>
    <!-- <script src="{{ host_prefix }}/static/js/d3graphs.js"></script> -->
</head>


<body class="body">
    <nav class="navbar navbar-light bg-light">
        <div class="container navbar-left">
            <div class="navblock">
                <!-- <a class="navbar-brand" href="#"> -->
                <!-- <img src="{{ host_prefix }}/static/img/genie.png" width="25px"> -->
                <!-- </a> -->
                <ul class="navblock pagination">
                    <li class="nav-item">
                        <select id="dataset-select" class="form-select form-select-sm"
                            style="display: inline-block; margin-right: 10px; max-width: 250px;">
                            {% for dataset_name in datasets %}
                            <option value="{{ dataset_name }}">{{ dataset_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="nav-item">
                        <select id="split-select" class="form-select form-select-sm"
                            style="display: inline-block; margin-right: 10px; max-width: 200px;">
                            <option value="dev" selected>dev</option>
                            <option value="test">test</option>
                            <!-- <option value="train">train</option> -->
                        </select>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="raw-btn" onclick="toggle_raw();" autocomplete="off">
                            <img src="{{ host_prefix }}/static/img/code.png" width="15px" class="button-bw-icon" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navblock" id="actions-area">
                <ul class="pagination" id="nav-example-cnt">
                    <li class="page-item">
                        <a class="page-link" id="start-btn" onclick="startbtn();">«</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="prev-btn" onclick="prevbtn();">‹</a>
                    </li>
                    <li class="page-item">
                        <input class="form-control" id="page-input" onfocusout="gotobtn();"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="total-examples" style="min-height: 28px;"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="next-btn" onclick="nextbtn();">›</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="end-btn" onclick="endbtn();">»</a>
                    </li>
                </ul>

                <!-- <ul class="pagination" id="nav-examples">
          
          <li class="page-item">
            <span data-bs-toggle="modal" data-bs-target="#note-modal">
              <a class="page-link" id="note-btn" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add a note">
                📑
              </a>
            </span>
          </li>
          <li class="page-item">
            <a class="page-link" id="favourite-btn" onclick="favouritebtn();" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Add to favourites">
              ★
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" id="permalink-btn" onclick="permalinkbtn();" data-bs-toggle="popover"
              data-bs-title="Permalink" data-bs-content="None" data-bs-placement="bottom">
              <img src="{{ host_prefix }}/static/img/link.png" width="12px" />
            </a>
          </li>
        </ul> -->
            </div>
            <div class="navblock">
                <ul class="pagination" style="margin-left: 10px;">
                    <li class="page-item">
                        <a class="page-link" id="random-btn" onclick="randombtn();" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Go to a random example">
                            🎲
                        </a>
                    </li>
                    <!-- <li class="page-item">
            <a class="page-link" id="interactive-btn" onclick="toggle_interactive();" autocomplete="off">
              <img src="{{ host_prefix }}/static/img/unicode/lightning.png" width="12px" class="button-bw-icon" />
            </a>
          </li> -->
                    <!-- <li class="page-item">
            <a class="page-link" data-bs-toggle="modal" data-bs-target="#favourites-modal">
              <img src="{{ host_prefix }}/static/img/unicode/star.png" width="12px" class="button-bw-icon" />
            </a>
          </li> -->
                    <!-- <li class="page-item">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#notes-modal">
                  <img src="{{ host_prefix }}/static/img/unicode/pencil.png" width="12px" class="button-bw-icon" />
                </button>
              </li> -->
                    <!-- <li class="page-item">
            <a class="page-link" data-bs-toggle="modal" data-bs-target="#export-modal">
              <img src="{{ host_prefix }}/static/img/unicode/arrowd.png" width="12px" class="button-bw-icon" />
            </a>
          </li> -->
                    <!-- <li class="page-item">
            <a class="page-link" data-bs-toggle="modal" data-bs-target="#info-modal">
              <img src="{{ host_prefix }}/static/img/unicode/info.png" width="12px" class="button-bw-icon" />
            </a>
          </li> -->
                    <!-- <li class="page-item">
            <a class="page-link" id="about-btn" onclick="show_info();" data-bs-toggle="modal"
              data-bs-target="#about-modal" title="About">
              <img src="{{ host_prefix }}/static/img/about.png" id="about-icon" />
            </a>
          </li> -->
                </ul>
            </div>
        </div>
    </nav>


    <div class="large-container container">
        <div class="row">
            <!-- <div id="leftpanel" class="col-2">
        <div class="infoarea"> -->

            <!-- 
          <div class="selectarea" id="mode-selectarea" style="display: none;">
            <div><b>mode</b></div>
            <div class="btn-group d-flex" id="mode-select" role="group">
              <input type="radio" value="select" class="btn-check" name="interactive-mode-radio" id="btn-mode-select"
                autocomplete="off" checked>
              <label class="btn btn-outline-secondary" for="btn-mode-select" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Select">🖱️</label>
              <input type="radio" value="highlight" class="btn-check" name="interactive-mode-radio"
                id="btn-mode-highlight" autocomplete="off">
              <label class="btn btn-outline-secondary" for="btn-mode-highlight" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Highlight">👆</label>
              <input type="radio" value="edit" class="btn-check" name="interactive-mode-radio" id="btn-mode-edit"
                autocomplete="off">
              <label class="btn btn-outline-secondary" for="btn-mode-edit" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Edit">✏️</label>
            </div>
          </div> -->

            <!-- <div class="selectarea" id="mode-selectarea" style="display: none;">
            <b>mode</b>
            <select id="mode-select" class="form-select form-select-sm">
              <option value="select" selected>select</option>
              <option value="highlight">highlight</option>
              <option value="edit">edit</option>
            </select>
          </div> -->

            <!-- </div> -->

            <!-- </div> -->
            <div class="split col-12">
                <div id="centerpanel" class="collapse show">
                    <div class="tab-content">
                        <div id='tabulararea' class="tab-pane sidepanel-panel active" role="tabpanel">
                            <div class="d-flex align-items-center justify-content-center">
                                <div id="dataset-spinner" class="spinner-border" role="status" style="display: none">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <div id='tablearea'> </div>
                            <div id='rawarea' style="display: none"> </div>
                        </div>
                    </div>
                </div>

                <div id="rightpanel" class="collapse show">
                    <div id='sidepanel-content' class="tab-content">
                        <div id='setuparea'>
                            <!-- <label for="model-toggle" class="label-multiselect"> Model </label>
              <div id="model-toggle-placeholder">
              </div>
              <label for="setup-toggle" class="label-multiselect"> Setup </label> -->
                            <div class="btn-group btn-group-sm setup-toggle" id="setup-toggle" role="group">
                                {% for setup in setups.keys() %}
                                <input type="radio" class="btn-check" name="setup-toggle-radio"
                                    id="btnradio-{{ setup }}" value="{{ setup }}" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio-{{ setup }}">{{ setup }} </label>
                                {% endfor %}
                            </div>
                            <!-- add a button with question mark for opening the modal `setup-modal` -->
                            <button type="button" class="btn btn-sm btn-outline-secondary btn-setup-info"
                                data-bs-toggle="modal" data-bs-target="#setup-modal"><img
                                    src="{{ host_prefix }}/static/img/unicode/info.png" width="12px"
                                    class="button-bw-icon" /></button>
                        </div>

                    </div>

                    <div id='outputarea'></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- modal windows -->

    <!-- // TODO save on close note-modal dialogue -->


    <div class="modal fade" id="setup-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="note-modal-label"><code><span id="setup-name-placeholder"></span></code>
                        setup
                        details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="setup-info-placeholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 

  <div class="modal fade" id="note-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="note-modal-label">Edit note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="modalNoteInput form-control" placeholder="Add your note" />
        </div>
        <div class="modal-footer">
          <button type="button" class="delete-note-button btn btn-primary" onclick="delete_note();">Delete</button>
          <button type="button" class="save-note-button btn btn-primary" data-bs-dismiss="modal"
            onclick="save_note();">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="export-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="export-modal-label">Export</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="export-block">
            <h5>Format</h5>

            <select class="form-select form-select-sm" id="export-format-select" style="width: 200px;">
              <option value="xlsx" selected>XLSX</option>
              <option value="html">HTML</option>
              <option value="json">JSON</option>
              <option value="csv">CSV</option>
              <option value="txt">TXT</option>
            </select>
          </div>

          <div class="export-block">
            <h5>Options</h5>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="checkbox-table-props">
              <label class="form-check-label" for="checkbox-table-props">Include table properties</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="checkbox-edited-cells" disabled>
              <label class="form-check-label" for="checkbox-edited-cells">Include edited cells (current
                only)</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="checkbox-notes" disabled>
              <label class="form-check-label" for="checkbox-notes">Include notes (zip only)</label>
            </div>
          </div>

          <div id="linearization-format-block" style="display: none; margin-bottom: 20px;">
            <label for="linearization-format-select" class="control-label"> Linearization style </label>
            <select class="form-select form-select-sm" id="linearization-format-select" style="width: 200px">
              <option value="2d" selected>2d</option>
              <option value="index">index</option>
              <option value="markers">markers</option>
            </select>
          </div>

          <div class="export-block">
            <h5>Export</h5>
            <button type="button" id="btn-export-current" class="btn btn-sm btn-primary"
              onclick="export_table('current');">Current
              example</button>
            <button type="button" id="btn-export-favourites" class="btn btn-sm btn-secondary"
              onclick="export_table('favourites');" disabled>Favourite examples
              (ZIP)</button>
            <button type="button" id="btn-export-notes" class="btn btn-sm btn-secondary"
              onclick="export_table('notes');" disabled>Examples with notes
              (ZIP)</button>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

    <div class="modal fade" id="info-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="info-modal-label">Dataset info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id='infoarea' class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
                        <div id="dataset-info" class="area-content"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="your-edits-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="your-edits-modal-label">Your edits</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush" id="your-edits-dataset-mode-box"></ul>
          <ul class="list-group list-group-flush" id="your-edits-notes-mode-box"></ul>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="clear_edits();">Delete all</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    <div class="modal fade" id="favourites-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="favourites-modal-label">Favourites</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush" id="favourites-box"></ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="clear_favourites();">Delete
                            all</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notes-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notes-modal-label">Notes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush" id="notes-box"></ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="clear_notes();">Delete all</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="permalink-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="permalink-modal-label">Permalink</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="permalink-placeholder"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="about-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-label">About TabGenie</h5> <img
                        src="{{ host_prefix }}/static/img/genie.png" width="20px" style="margin-left: 5px">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id='aboutarea' class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
                        <div id="about-info" class="area-content">
                            <p>TabGenie is a toolkit for <i>table-to-text generation</i> – the task of generating a
                                description for
                                the tabular data.
                            </p>
                            <p>The web interface enables to explore existing table-to-text generation datasets and
                                interact with
                                processing pipelines.</p>

                            <p>Built using HTML5, CSS, <a href="https://jquery.com">jQuery</a>, <a
                                    href="https://getbootstrap.com/">Bootstrap 5</a>, <a
                                    href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a>, and <a
                                    href="https://huggingface.co/docs/datasets/index">Huggingface Datasets</a>.</p>

                            <p><b>Developers:</b>

                            <ul>
                                <li><b>Zdeněk Kasner</b> – <code>kasner (at) ufal.mff.cuni.cz</code></li>
                                <li><b>Kate Garanina</b> – <code>e.garanina (at) student.rug.nl</code></li>
                                <li><b>Ondřej Plátek</b> – <code>oplatek (at) ufal.mff.cuni.cz</code></li>
                                <li><b>Ondřej Dušek</b> – <code>odusek (at) ufal.mff.cuni.cz</code></li>
                            </ul>
                            </p>
                            <p>
                                The project is being actively developed, please report any issues at <a
                                    href="https://github.com/kasnerz/tabgenie">https://github.com/kasnerz/tabgenie</a>.
                            </p>

                            <p>Available as open-source under MIT License.</p>
                            <p>
                                © 2023 <a href="https://ufal.mff.cuni.cz/">
                                    Institute of Formal and Applied
                                    Linguistics, Charles University</a> | <a href="https://rug.nl">University of
                                    Groningen</a>.
                            </p>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<script>
    // variable to be used in custom.js
    window.url_prefix = "{{ host_prefix }}";
    window.default_dataset = "{{ default_dataset }}";
    window.favourites = {{ session.get("favourites", {}) | tojson | safe }};
    window.notes = {{ session.get("favourites", {}) | tojson | safe }};
    window.editedCells = {{ session.get("editedCells", {}) | tojson | safe }};
    window.display_table = {{ display_table | tojson | safe }};
    window.setups = {{ setups | tojson | safe }};
</script>

<script src="{{ host_prefix }}/static/js/custom.js"></script>